
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="blank" href="https://discord.gg/sFegZUDbP8" class="nav-link px-2 text-muted">Discord</a></li>
      <li class="nav-item" target="blank"><a href="https://raw.githubusercontent.com/buntaga/archivist-league-files/main/676380801054539776.json" class="nav-link px-2 text-muted">Latest File</a></li>
      <li class="nav-item"><a target="blank" href="https://discord.com/api/oauth2/authorize?client_id=1015934774164070530&permissions=8&scope=applications.commands%20bot" class="nav-link px-2 text-muted">The Archivist</a></li>
      <li class="nav-item"><a target="blank" href="https://www.patreon.com/buntaga" class="nav-link px-2 text-muted">Patreon</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 Buntaga</p>
  </footer>