<!DOCTYPE html>
<html>
  <head>
    <title>CDLA Homepage</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mt-4">CDLA</h1>
      <h2 class="text-center mt-2">A Basketball-GM Multiplayer League</h2>
      <p class="text-center mt-2">Active since Feb 10, 2020</p>
      <h3 class="text-center mt-2 mt-4">Reigning Champions:</h3>
      <h2 class="text-center">
        {{reigning}}
      </h2>
    {% include 'footer.html' %}
  </body>
</html>