<!DOCTYPE html>
<html>
  <head>
    <title>CDLA History page</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h3 class="text-center mt-2">League Rules</h3>
      <p class="text-start mt-2 ms-2">1. The Commissioner is not allowed to manage a team;<br>
2. If a trade is found to be extremely favored to one side we reserve the right to veto the trade;<br>
3. We, the commissioner/mod team reserve the right to remove those we feel are acting irresponsibly.  If any of us deems a GM unfit for his position they can start a vote to forcibly remove them from their team and possibly the league;<br>
4.  The salary cap will be adjusted as the mod team/commissioner feels necessary. Whenever a new salary cap is proposed there will be a league vote to determine if it passes.<br>
5.  Pick protections and pick swaps are legal.<br> 
5a. The Stepien Rule: You may not protect, swap, or convey a pick that is not visible in the game at the time of the trade. Teams cannot trade consecutive 1st round draft picks of their own, unless they own a 1st from another team in either of those years. For example, Minneapolis cannot trade their 2023 AND 2024 1st because of the Stepien Rule, unless they own a 1st from another team in either of those years. Teams must own at least one (any team's) 1st round draft pick in consecutive years, however pick swaps can be applied in case of such a trade.<br>
5b. Teams cannot place protections on picks which are originally not their own. Protections do not have to convey to a different pick, unless specified otherwise.<br>
5c. Teams can't trade pick swap rights to other team's picks.<br>
5d. With the Stepien Rule, a pick in between years with no pick can not hold a protection, only swap rights may be applied. (For example, Chicago does not have a 1st round pick in 2031 and 2033. This means that the pick they have in 2032 may only be traded as a swap right, not to another team with a protection on it.)</p>
      <h3 class="text-center mt-2">Free Agency Rules</h3>
      <p class="text-start mt-2 ms-2">1. There are two types of Free Agents: a. Unrestricted Free Agents (UFA) with bird rights; b. Unrestricted Free Agents without bird rights. UFAs with bird rights are players that were under contract for a team during the previous season's playoffs.<br>
2. Players coming off of their rookie Team Option season can be extended for 3 additional seasons. <br>
3. Free Agency Wave 1: Begins right after the CDLA Draft. All players listed as free agents will be available to sign.<br>
4. Free Agency Wave 2: Continuation of Free Agency.<br> 
5. In-season Free Agency: In-season Free Agency will feature open bidding. It is illegal to lower your initial offer to a free agent, so please only send serious offers. <br>
6. Contested offers for a Free Agent will be voided in favor of the other competing teams if the offering team has no roster spots after the offering deadline.<br>
7. Player decisions will be made based on The Archivist Score formula.<br>
8. The signing order will always be the one that's most beneficial to the team, in most cases it will be the following: Bird Right players signing contracts lower than their cap hold > non-Bird Right signings > regular Bird Right signing.<br>
9. Teams can't offer contracts to non-Bird Rights players that are worth more than what their open cap space is, at the time of making the offer. Open cap space is the sum of a team's active contracts and cap holds. <br>
10. Cap Holds: All UFAs with bird rights will have their salary stay on your payroll in the form of a "Cap Hold". That Cap Hold will go away either when the player signs a new contract or you rescind their bird rights, or at the Month 1 deadline of the next regular season if the player does not get signed. Cap holds need to be salary matched in trades if a team is over the Soft Cap.<br>
 10.1. Cap Holds also count towards the MLE/LTE.<br>
11. Every offer must be between $1-30M (or 33M if supermax eligible) and between 1-4 years, otherwise it is not a valid offer.<br>
11a. Minimax: For players with fewer than 6 full seasons in the league a maximum offer of no more than $24M has to be made, unless their OVR qualified them for a pay increase. If a player has spent fewer than 6 full seasons  in the league and is at 75+ OVR, then his minimum is 30M. If a player has spent fewer than 6 full seasons  in the league and is at 80+ OVR, then his minimum is 33M.<br>
11b. Supermax: Only players who are 75 OVR or above qualify for a supermax of $33M and can not be signed for a lower annual salary. Refer to the Payscale for the exact details.<br>
11c. For players who have completed at least 10 seasons in the league a minimum offer of no less than $2M has to be made.</p>
      <h3 class="text-center mt-2">Salary Cap Rules</h3>
      <p class="text-start mt-2 ms-2">1. The Salary Cap is $100M; the minimum payroll is $80M.<br>
2. The Hard Cap is $130M. No team may ever exceed the hard cap for any reason, it is the maximum amount of salary that a team can have (including the cap holds). If you make a transaction that puts you over the hard cap of $130M then that transaction will be ruled invalid.<br>
3a. Mid-Level Exception (MLE): If your total team salary is between $95.5M and $115.5M (including cap holds), then you can sign a player with a contract of up to 8.5M/4 years.<br>
3b. Luxury Tax Exception (LTE): If your total team salary is above 115.5M (including cap holds), then you can sign a player with a contract of up to 4.5M/3 years.<br>
The MLE and LTE cannot be split up on multiple players, you can only use one of them on one player, once per season.<br>
4. Minimum Salary Exception: Any player can be signed for their minimum qualified salary (1M or 2M) with no penalty even if the team is over the salary cap. However, this exception can not bypass the hard cap nor the payscale requirements.</p>
      <h3 class="text-center mt-2">Cap Hold Exception</h3>
      <p class="text-start mt-2 ms-2">A team can go over hard cap with cap holds IF:<br>
- They extend a rookie (you have to be below the hard cap at the Month 1 deadline of the upcoming regular season);<br>
- They drafted a rookie (same as above);<br>
- They have only re-signed your Bird Rights players;<br>
- They didn't send offers to non-Bird Rights players. <br>
However, as long as a team is over the hard cap with the cap holds they cannot:
- Send offers for players whose cap holds they own;<br>
- Offer any other non-Bird Rights Free Agents, including minimum contracts.<br>
This means that if a team wants to sign a player whose cap hold they own, that team would need to make space so that their payroll + their cap holds get them under the hard cap. It allows for more flexibility and creativity to work around the hard cap.<br>
All trades above the hard cap are illegal, except for trades to get teams under the hard cap with cap holds.<br>
This does NOT mean you can be over the hard cap with your payroll at any point in time.</p>
      <h3 class="text-center mt-2">The CDLA Trade Exception</h3>
      <p class="text-start mt-2 ms-2">Teams can use the Trade Exception to have more flexibility when matching salaries in trades.<br>
For example, a team with a 5M trade exception can include up to 5M worth of salary on their side of the trade to get within 125% of received salaries without actually including that 5M with a player's contract.<br>
A Trade Exception is one third of the salary surplus a team has received over a season's worth of trades.<br>
The Trade Exception for every team will be calculated every Preseason (based on all of the trades from the previous season) and will be available for use until the next upcoming preseason. They can't be included in trades for purposes other than salary matching. Teams can split their Trade Exception into multiple transactions.</p>
      <h3 class="text-center mt-2">RFA Extension and Rookie Rule</h3>
      <p class="text-start mt-2 ms-2">Upon the expiry of a player’s Rookie contract Team Options (4th year for 1st round picks, 3rd year for 2nd round picks), the incumbent team will have an opportunity to extend the player the player’s contract for 3 more seasons.<br>
The total amount of the extension (to be spread out over 3 seasons) will be calculated based on a combination of the Payscale and the player’s age. <br>
The formula is be the following:<br>
(the player's minimum according to the payscale) * 3 + (26 - (the player's current age)) * 1.5) * 3<br>
      All rookie extensions will be automatically accepted and teams only need post if they refuse to accept the rookie extension. Teams that decline a draft pick's rookie extension lose RFA rights on that player.</p>
      <h3 class="text-center mt-2">Stretch Provision</h3>
      <p class="text-start mt-2 ms-2">The released player's remaining salary is stretched over twice the number of years remaining on the contract plus one more year. At least one full season needs to have passed after the player signed the contract, it only applies to contracts with an annual worth of up to 10M, and it can only be used once per season. For example, a 9M/2y contract will be stretched and stay on the team’s books as 2.25M/5y.<br>
If a player's contract is stretched between the Month 1 deadline and the Playoffs, then the current season cannot be stretched and only the future seasons will be.</p>
      <h3 class="text-center mt-2">Alper Eslik Exception</h3>
      <p class="text-start mt-2 ms-2">This exception allows a team which is over the soft cap to replace a disabled player who is projected to be out for the remainder of that season (it can also be granted in the event of a player's death). In case the player recovers from injury before the end of the playoffs, the injured player will be 0'd out. The team may sign a free agent for one season only, for either 50% of the disabled player's salary or the amount of the Mid-Level Exception (MLE), whichever is less. The salary of the disabled player will be reduced by the amount of the new contract.</p>
      <h3 class="text-center mt-2">Astajam Rule</h3>
      <p class="text-start mt-2 ms-2">1. A player (or the rights to the player) can not be involved in a trade between two of the same teams from the moment he is traded until the same period of the next season (any team transactions involving third teams trying to avoid this rule will be subject to mod evaluation).<br>
2. After a (non-bird rights) player signs with a team during the off-season Free Agency period, that player can not be included in any team transactions until the upcoming Preseason.<br>
3. Any player released by a team can not be signed by that team in Free Agency until the next upcoming Playoffs are completed.</p>
    {% include 'footer.html' %}
  </body>
</html>